<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Mutual understanding</title>
</head>
<body>
    <h1 class="main-title">SCAINs Reader</h1>
    <div class="selection">
        <h2 class=center>会話文の変更が可能です</h2>
        <h3 class=center>現在の会話文：{{ filename }}</h3>
        <form method="post" class="center" action="/select-txt">
            <select name="filename">
                <option value="unselected">会話文の選択</option>
                <option value="PP1.txt">PP1.txt</option>
                <option value="PP2.txt">PP2.txt</option>
                <option value="PP3.txt">PP3.txt</option>
            </select>
            <button type="submit" name="action" value="filename" class="btn">選択</button>
        </form>
    </div>
    <h2 style="padding-left: 100px">会話文をクリックしてください</h2>
    <table>
        {% for line in dialogue %}
        <tr>
            <td valign="top">{{ line['speaker'] }}</td>
            <td align="left">{{ line['statement'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
    </script>
</body>
</html>
